<div *ngIf="selected == false"
     class="task-in-list"
     [appTaskColor]="task.deadline"
>
  <mat-checkbox color="warn"
                (click)="$event.stopPropagation()"
                [(ngModel)]="task.done"
  >
  </mat-checkbox>
  <span [ngClass]="{'task-done' : task.done}">{{task.header}}</span>
  <br>
  <mat-icon>today</mat-icon>
  {{task.deadline|date|uppercase}}
  <mat-icon class="trash-icon" mat-button (click)="openDialog()"
            (click)=$event.stopPropagation()>delete
  </mat-icon>
</div>

<ng-container *ngIf="selected == true">
  <div class="form">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Task</mat-label>
      <span>{{task.header}}</span>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Description</mat-label>
      <span>{{task.description}}</span>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="date-input" appearance="fill">
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-icon>today</mat-icon>
      {{task.deadline|date|uppercase}}
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <a routerLink="/tasks" routerLinkActive="active-link">
      <button class="task-button">Back to List
        <mat-icon class="button-icons">reply</mat-icon>
      </button>
    </a>
    <a routerLink="/tasks/{{task.taskId}}/edit" routerLinkActive="active-link">
      <button class="task-button">Edit
        <mat-icon class="button-icons">create</mat-icon>
      </button>
    </a>
  </div>
</ng-container>


