.task-in-list {
  border: 1px solid;
  cursor: pointer;
  width: 500px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  font-size: 15pt;
}

.task-done {
  text-decoration: line-through;
}

.form {
  top: 25%;
  background: #eeeeee;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
}

.task-overdue {
  background-color: #e9967a;
}

.task-overdue:hover {
  background-color: #c27664;
}

.task-hurry {
  background-color: #eee8aa;
}

.task-hurry:hover {
  background-color: #cac491;
}

.task-non-urgent {
  background-color: #bee9f7;
}

.task-non-urgent:hover {
  background-color: #99becb;
}

.trash-icon {
  float: right;
  display: none;
}

.task:hover > .trash-icon {
  display: block;
}

mat-checkbox {
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: content-box;
}

.input {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  overflow: hidden;
  font-size: 15pt;
}

.date-input {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40%;
  min-height: 40px;
  display: block;
  overflow: hidden;
  font-size: 15pt;
}

.task-button {
  border: 1px solid;
  cursor: pointer;
  width: 300px;
  max-width: 40%;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  font-size: 15pt;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-icons {
  margin-left: 10px;
}
