<div *ngIf="selected == false" (click)="openPopup()"
     class="task {{changeColor(task)}}"
>
  <mat-checkbox color="warn"
                (click)="$event.stopPropagation()"
                [(ngModel)]="task.done"
  >
  </mat-checkbox>
  <span [ngClass]="{'task-done' : task.done}">{{task.header}}</span>
  <br>
  <mat-icon>today</mat-icon>
  {{task.deadline|date|uppercase}}
    <mat-icon class="trash-icon" mat-button (click)="openDialog()"
            (click)=$event.stopPropagation()>delete
  </mat-icon>
</div>

<ng-container *ngIf="selected == true">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <span>{{task.header}}}</span>>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <span>{{task.description}}</span>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="datepicker">{{task.deadline|date|uppercase}}
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <br>
    <a routerLink="/tasks/{{task.taskId}}/edit" routerLinkActive="active-link">
      <button>Edit</button>
    </a>
  </div>
</ng-container>


