<div *ngIf="selected == false" (click)="openPopup()"
  class="task"
  [ngClass]="{'task-done' : task.done}">

  <mat-checkbox
         (click)="$event.stopPropagation()"
         [(ngModel)]="task.done"
  >
  </mat-checkbox>
  <span>{{task.header}}</span>
  <button (click)=$event.stopPropagation()>Удалить</button>
</div>

<ng-container *ngIf="selected == true">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <span>{{task.header}}}</span>>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Описание</mat-label>
      <span>{{task.description}}</span>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Срок задачи</mat-label>
      <input matInput [matDatepicker]="datepicker">{{task.deadline|date|uppercase}}
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <br>
    <a routerLink="/tasks/{{task.taskId}}/edit" routerLinkActive="active-link"><button>Редактировать</button></a>
   </div>
</ng-container>
