<ng-container *ngIf="selected">
  <div class="popup">
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput [(ngModel)]="task.header">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="task.description">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Deadline</mat-label>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="task.deadline">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <br>
  </div>
</ng-container>
