.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: none;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  position: fixed;
  width: 50%;
  left: 25%;
  top: 25%;
  background: #eeeeee;
  border-radius: 7px;
}

mat-icon {
  float: left;
}

.add-button {
  border: 1px solid;
  cursor: pointer;
  width: 500px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  font-size: 15pt;
}

.input {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  overflow: hidden;
  font-size: 15pt;
}

.date-input {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40%;
  min-height: 60px;
  display: block;
  overflow: hidden;
  font-size: 15pt;
}
